body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue; 
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 25px; 
    margin-right: 10px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    flex: 1;
    font-size: 16px;
}

select {
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#resultArea {
    margin-top: 20px;
    font-size: 20px;
}
